<h4 class="text-center">Philosophy:</h4>
<br />
<p class="text-center">The player who plays for the team first, is really playing for their self. The player who plays for their self first, plays against the opposition and their own team.</p>