/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

.form-signin,
.form-signup,
.form-reset,
.form-user-edit {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox,
.form-signup .checkbox,
.form-reset .checkbox,
.form-user-edit .checkbox {
  font-weight: 400;
}
.form-signin .form-control,
.form-signup .form-control,
.form-reset .form-control,
.form-user-edit .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus,
.form-signup .form-control:focus,
.form-reset .form-control:focus,
.form-user-edit .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"],
.form-signup input[type="email"],
.form-reset input[type="email"],
.form-user-edit input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"],
.form-signup input[type="password"],
.form-reset input[type="password"],
.form-user-edit input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input.default,
.form-signup input.default, 
.form-reset input.default,
.form-user-edit input.default {
  border-radius: 0.25rem;
}

select#user_role {
  height: 46px;
  margin-bottom: 15px;
}

.croke {
  background: image-url('croke_park.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar,
.navbar-inner {
  border: none !important;
}

.container {
  padding-top: 50px;
}